/**
 * @file
 * Common styles.
 */

.mapycz-wrapper {
  position: relative;
}

.mapycz-map {
  height: 400px;
  width: auto;
  border: 1px solid #bbb;
}

.mapycz-settings {
  display: none;
}

.mapycz-admin-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  margin-top: auto !important;
}
