<div id="{{ map_id }}" class="mapycz-map" style="width:{{ width }}; height:{{ height }};"></div>
<div class="mapycz-settings">
    <div class="mapycz-zoom">{{ zoom }}</div>
    <div class="mapycz-center">
        <div class="lat">{{ center.lat }}</div>
        <div class="lng">{{ center.lng }}</div>
    </div>
    <div class="mapycz-type" data-allowed-layers="{{ allowed_layers }}">{{ type }}</div>
    <div class="mapycz-poi">{{ show_poi }}</div>
    <div class="mapycz-layer-switcher">{{ show_layer_switcher }}</div>
    {% for marker in markers %}
        <div class="mapycz-location">
            <div class="lat">{{ marker.lat }}</div>
            <div class="lng">{{ marker.lng }}</div>
            <div class="marker-title">{{ marker.title | striptags('<ul><li><br><b><strong><i><span><div><a><u><hr><sub><sup>') | raw }}</div>
        </div>
    {% endfor %}
    <div class="marker-address">{{ print_markers_address }}</div>
</div>
<div class="form-item mapycz-admin-controls"></div>
